/.vscode
/presentation..bbl
/presentation..blg
/presentation.aux
/presentation.bbl
/presentation.bcf
/presentation.blg
/presentation.fdb_latexmk
/presentation.fls
/presentation.log
/presentation.nav
/presentation.out
/presentation.pdf
/presentation.run.xml
/presentation.snm
/presentation.tex.bbl
/presentation.tex.blg
/presentation.toc
/q.log
/executive_summary/executive_summary.aux
/executive_summary/executive_summary.log
/executive_summary/executive_summary.pdf